spring:
  application:
    name: eureka-server
server:
  port: 1111
eureka:
  instance:
    hostname: 127.0.0.1
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka
  server:
    enable-self-preservation: false
logging:
  level:
    root: info
    org.springframework.web: info