<?xml version="1.0" encoding="utf-8"?>
<Configuration>
	<Properties>
		<!-- 文件输出格式 -->
		<Property name="pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] %c - %m%n</Property>
	</Properties>
 
	<Appenders>
		<Console name="console" target="system_out">
			<PatternLayout pattern="${pattern}" />
		</Console>
		<RollingFile name="file" fileName="logs/creditcard-management.log" filePattern="logs/creditcard-management-%d{yyyy-MM-dd}.log.gz">
			<PatternLayout pattern="${pattern}" />
			<Policies>
    			<TimeBasedTriggeringPolicy />
	        	<SizeBasedTriggeringPolicy size="250 MB"/>
	      	</Policies>
		</RollingFile>
	</Appenders>
	
	<Loggers>
		<AsyncLogger name="com.creditcard.management" level="info" includeLocation="true">
      		<AppenderRef ref="file"/>
    	</AsyncLogger>
		<Root level="info">
			<AppenderRef ref="console" />
		</Root>
	</Loggers>
 
</Configuration>